body {
font-family: 'Open Sans', sans-serif;
background: url(/feast/img/cbg.png) repeat;
/* Old background:
background: url(/feast/img/bg.jpg) no-repeat center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;*/

}
/* TEXT */
h2 {
    font-family: 'Nixie One', sans-serif;
    color: #010; /* Color is transparency adjustd using the following formula: Transparent Color = Color * alpha + Bkg * (1 - alpha); */
 -webkit-transform: translate3d(0,0,0); 
}
h3 {
    color: rgb(55,55,55);
}

.headertext {
position:absolute;
font-family: 'Nixie One';
font-size:40px;
color: rgba(0,0,0,0.7);
top:-55px;
width:100px;
left:50%;
margin-left:-100px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: moz-none;
-ms-user-select: none;
user-select: none;
cursor:default;
}

.headertext a {
    text-decoration:none;
color: rgba(0,0,0,0.7);
}

.footertext {
position:absolute;
font-family:Courier;
font-weight:lighter;
font-size:14px;
color: #111000;
bottom:-25px;
right:40px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: moz-none;
-ms-user-select: none;
user-select: none;
cursor:default;
}

/* LOGIN & REGISTER FORM */
.formcontent {
    width: 280px;
	margin: 100px auto;
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0, .2); 
	text-align: center;
	padding-top: 1px;
    padding-bottom:5px;
}

.content {
width: 840px;
margin: 80px auto;
background: white;
border-radius: 3px;
box-shadow: 0 0 10px rgba(0,0,0, 0.2); 
text-align: center;
padding:30px;
}

.pagecontent {
    position:relative;
margin: -25px auto 20px auto;
text-align: center;
 overflow: auto;
 width:804px;
}
.editcontent {
    position:relative;
margin: -25px auto 20px auto;
text-align: center;
 overflow: auto;
 width:100%;
}


.individual {
-webkit-box-shadow: 2px 2px 0 rgba(0,0,0,0.05),0 0 0 rgba(0,0,0,0);
-moz-box-shadow: 2px 2px 0 rgba(0,0,0,0.05),0 0 0 rgba(0,0,0,0);
box-shadow: 2px 2px 0 rgba(0,0,0,0.05),0 0 0 rgba(0,0,0,0);
width: 256px;
height: 190px;
text-align: center;
background-color: #FEFEFE;
border: 1px solid #ced5d9;
border-radius: 3px;
margin: 10px 0;
border-top: 1px solid #ced5d9;
background-color: rgba(255,255,255,0.8);
display:block;
float:left;
margin-right:5px;
margin-left:5px;
-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease
}
.individual:hover {
    cursor:pointer;
-webkit-transform: scale(1.03,1.03); -moz-transform: rotate(-1deg); -o-transform: rotate(-1deg);
}
.indcontent {
    height:auto;
margin:auto;
    width:95%;
    float:left;
}
.indform {
    width:100%;
}
.top {
    height:50px;
}

.mid {
    padding:15px;
    background-color:#fff;
border-top: 1px solid #ced5d9;
background-color: rgba(255,255,255,0.8);
position:relative;
}

.register{																				/* Register form height */
	height: 420px;
}

form .text-field {																			/* Input fields; Username, Password etc. */
	border: 1px solid #a6a6a6;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	margin-top: 10px;
	padding-left: 10px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

textarea {
    border: 1px solid #a6a6a6;
	border-radius: 3px;
	margin-top: 10px;
	padding-left: 10px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
    vertical-align:top;
    transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
resize:vertical;
}

textarea:focus {
        box-shadow: inset 0 0 2px rgba(0,0,0, .3);
color:#000;
outline:none;
border:#35a5e5 1px solid;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1); 
}
form .text-field:focus {
	box-shadow: inset 0 0 2px rgba(0,0,0, .3);
	color: #08c;
    color:#000;
	background: white;
}
     /* Submit button */
     
 .button {	
     display:inline-block;
	border-radius: 3px;
	height: 40px;
     line-height:40px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 13px;
    text-decoration:none;
    padding-right:20px;
    padding-left:20px;

    height: 38px;
padding: 0 .9em;
font-size: 13px;
line-height: 36px;
border-radius: 3px;
border: 1px solid transparent;
font-weight: normal;
box-sizing: border-box;
border-color: rgba(0,0,0,0.3);
margin-top:10px;
}

input[type=submit] {
            display:default;
     line-height:10px;
     width:242px; 
}
.blueold
{
        border: 1px solid #336895;
	box-shadow: inset 0 1px 0 #8dc2f0;
        background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
}

.blue {
-webkit-box-shadow: inset 1px 1px rgba(255,255,255,0.1),1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: inset 1px 1px rgba(255,255,255,0.1),1px 1px rgba(0,0,0,0.1);
box-shadow: inset 1px 1px rgba(255,255,255,0.1),1px 1px rgba(0,0,0,0.1);
background-color: rgba(255,255,255,0.1);
background-image: -moz-linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-image: -ms-linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.1)),to(transparent));
background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-image: -o-linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-image: linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-repeat: repeat-x;
background-color: #08c;
color: #fff;
}

.mar {
    margin-left:1px;
    margin-right:1px;
}

.red {
-webkit-box-shadow: inset 1px 1px rgba(255,255,255,0.1),1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: inset 1px 1px rgba(255,255,255,0.1),1px 1px rgba(0,0,0,0.1);
box-shadow: inset 1px 1px rgba(255,255,255,0.1),1px 1px rgba(0,0,0,0.1);
background-color: rgba(255,255,255,0.1);
background-image: -moz-linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-image: -ms-linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.1)),to(transparent));
background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-image: -o-linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-image: linear-gradient(top,rgba(255,255,255,0.1),transparent);
background-repeat: repeat-x;
background-color: #BD0606;
color: #fff;
}

/* Good to have, but we're using jQuery instead
form .button:hover {
	background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}
*/
form .button:active {
	background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	
	box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;
}

/* ANIMATIONS */

.fast {
        -o-animation-duration: 0.3s;
        -moz-animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        -ms-animation-duration: 0.3s;       
        animation-duration: 0.3s;
        
}
.hidden {
    display: none;
}

/* ANIMATIONS END */

.faded {
color:rgba(0,0,0,0.6);
}

.noselect {
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: moz-none;
-ms-user-select: none;
user-select: none;
}

.bot {
    vertical-align:bottom;
    margin-left:-130px;
}
.bot2 {
    vertical-align:bottom;
    margin-left:0px;
}

hr {
    background-color:rgba(0,0,0,0.2);
border-width:0;
color:rgba(0,0,0,0.2);
height:1px;
line-height:0;
text-align:center;
width:85%;
}

.formheader {
    margin-left:-75%;
}
.formheader:hover {
    cursor:text;
    border:1px dotted black;
}
.left {
    float:left;
    margin-left:45px;
}
